SUPABASE_URL=https://kkighdacfyximqygcqrl.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_mWPgY8tLTHJjehdNa_-7BQ_LQuLh4EG
SUPABASE_SECRET_KEY=sb_secret_Y5qim32kw9-3fgjkMj22vw_YSu2l36o
SUPABASE_JWKS_URL=https://kkighdacfyximqygcqrl.supabase.co/auth/v1/.well-known/jwks.json